@font-face {
  font-family: 'SalesforceSans';
  src: url('/fonts/salesforce/woff/SalesforceSans-Book.woff2') format('woff2'),
    url('/fonts/salesforce/woff/SalesforceSans-Book.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SalesforceSans';
  src: url('/fonts/salesforce/woff/SalesforceSans-Semibold.woff2')
      format('woff2'),
    url('/fonts/salesforce/woff/SalesforceSans-Semibold.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'SalesforceSansBold';
  src: url('/fonts/salesforce/woff/SalesforceSans-Bold.woff2') format('woff2'),
    url('/fonts/salesforce/woff/SalesforceSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/firacode/woff2/FiraCode-Regular.woff2') format('woff2'),
    url('/fonts/firacode/woff/FiraCode-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

:root {
  --text-color: #111;
  --background-color: #fff;
  --text-shadow: drop-shadow(rgb(255, 255, 255, 1) 0 0 4px)
    drop-shadow(rgb(255, 255, 255, 0.3) 0 0 3px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #111;
    --background-color: #fff;
  }
}

body {
  font-family: SalesforceSans;
  font-size: 1.4rem;
}

a {
  color: oklch(52.66% 0.26398 270.746);
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-decoration-color: rgba(61, 71, 255, 0.3);
}

h1,
h2,
.title,
.no-color,
.no-color-link {
  align-self: center;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  line-height: 1.1em;
  margin: 0;
  text-align: center;
  text-wrap: balance;
  user-select: none;
  width: fit-content;
}

h1,
h2 {
  margin-bottom: 24px;
}

h1,
.colorful,
.title,
.no-color,
.no-color-link,
.alternate {
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    oklch(66.438% 0.16131 153.781),
    oklch(52.66% 0.26398 270.746),
    oklch(50.513% 0.23127 310.437)
  );
  box-decoration-break: clone;
  filter: var(--text-shadow);
  font-weight: bold;
  text-transform: uppercase;
}

.alternate {
  background-image: linear-gradient(
    to right,
    oklch(50.711% 0.19327 351.251),
    oklch(71.866% 0.29131 329.479),
    oklch(49.447% 0.22924 307.393)
  );
}

.simple {
  background-image: linear-gradient(
    to right,
    oklch(52.66% 0.26398 270.746),
    oklch(50.513% 0.23127 310.437)
  );
}

.title,
.no-color,
.no-color-link {
  line-height: 1.3em;
  filter: var(--text-shadow) brightness(1.3);
}

a.title {
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.no-color {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)
  );
  filter: none;
}

.no-color-link {
  background-image: linear-gradient(
    to right,
    oklch(52.66% 0.26398 270.746),
    oklch(52.66% 0.26398 270.746)
  );
  filter: none;
}

h2 {
  font-size: 1.5em;
}

pre {
  align-self: center;
  margin: 0.25em 0;
  width: fit-content;
}

code {
  font-family: 'Fira Code', monospace;
}

div.code-container {
  align-self: center;
  border-radius: 20px;
  font-size: 0.75em;
  padding: 12px 0;
  width: fit-content;
}

li {
  margin: 0.4em;
}

ul ul li:first-child,
ul ul li:last-child {
  margin: 0.3em 0 0;
}

p code,
li > code,
li a > code,
ul > code {
  border-radius: 12px;
  margin: 0 -1px;
  overflow-wrap: anywhere;
  padding: 0 3px;
}

p,
ul,
ol {
  margin: 0.1em;
}

li:first-child {
  margin-top: 0;
}

li:last-child {
  margin-bottom: 0;
}

li::marker {
  color: oklch(66.438% 0.16131 153.781);
}

.alternate-text li::marker {
  color: oklch(71.866% 0.29131 329.479);
}

.alternate-text a {
  color: oklch(49.447% 0.22924 307.393);
}

img,
video {
  align-self: center;
  border-radius: 32px;
  display: block;
  filter: drop-shadow(rgb(0, 0, 0, 0.4) 0 10px 20px);
  justify-self: center;
  user-select: none;
  width: 85%;
}

video {
  width: 95%;
}

.video-intro {
  align-self: start;
  border-radius: 0;
  width: 100%;
}

img {
  background-color: #fff;
  pointer-events: none;
}

.video-shadow {
  filter: drop-shadow(rgb(255, 255, 255, 0.5) 0 10px 20px);
}

img.nostyle {
  filter: none;
}

.regular {
  text-transform: none;
}

.demo {
  --text-shadow: drop-shadow(rgb(255, 255, 255, 0.3) 0 0 10px);
}
